/* #28263a  #a53d4d #fda53b #dab967 #43c09d */
* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #28263a;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
#carousel {
    margin: auto;
    height: 660px;
    width: 860px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    overflow: hidden;
}
.frame {
    margin: auto;
 
    padding: 30px;
}
img {
    height: 600px;
    margin: auto;
    padding: 35px;
    
    
}
#first img {
    background-color: #a53d4d;
}
#second img {
    background-color: #fda53b;
}
#third img {
    background-color: #dab967;
}
#fourth img {
    background-color: #43c09d;
}
.shadow {
    -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
}
#dots {
    bottom: 5px;
}
@media screen and (max-width: 400px) {
    .frame {
        margin: 0;
    }
}